body {
    background-color: grey;
}

.gridParent {
    position: relative
}

.grid {
    position: absolute;
}

.gridImage {
    position: absolute;
}

.gridButton {
    position: absolute;
    top: 500px;
}

.gridTile {
    position: absolute;
    color: white;
    vertical-align: middle;
    text-align: center;
    background-color: black;
}